.banner {
  background-size:cover;
  background-position: center 80%;
  padding: 200px 0;
  margin-top: 15%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgb(0,0,0);
  font-size: 42px;
  font-weight: bolder;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgb(0,0,0,);
}

.bannerinfo {
  text-align:center;

}
