<h1>All Cars</h1>

<hr>
<% @cars.each do |car| %>
  <h2> <%= car.brand %></h2>
  <h3>Model: <%= car.model %></h3>
  <p>Owner: <%= car.owner.nickname %> </p>
  <p> Posted: <%= car.created_at.strftime("%A, %d %b %Y %l:%M %p") %> </p>
  <hr>
<% end %>
